__pycache__
.pytest_cache

# data
data
UCR_Anomaly_FullData
tabular_data
time_series_data

# reference material
UCR_TimeSeriesAnomalyDatasets2021

# file
src/dataload/RnnCnnEncLoad.py
src/dataload/seq2seq_load.py
src/models/LSTMAutoEncoder.py